<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container">

    <h2 class="banner"> Let's get this DONE!!! </h2>

      <div class="col-lg-6 col-xs-12 col-lg-offset-3 pomodoro text-center">
        <img class="" src="pomodoro.svg" alt="">
      </div>
      <div class="" style="clear: both"></div>
      <br /><br /> <br />
      <div class="col-lg-6 col-lg-offset-3 col-xs-12 text-center">
        <button type="button" class="btn btn-primary col-lg-12 col-xs-12" id="start">Start</button>
        <br /> <br /><br />
        <button type="button" disabled="disabled" class="btn btn-success col-lg-12 col-xs-12" id="stop">Success</button>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-xs-12 text-center">
        <div id="timer"></div>
      </div>
  </div>


</body>
</html>
